<!DOCTYPE html>
<html>

<head>
    <title>Spurdle</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Import custom configuration (fonts and colours)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='tailwind-config.js') }}"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script defer src="{{ url_for('static', filename='itunesAPIconfig.js') }}"></script>
</head>

<!-- Main game -->

<body class="bg-background-black bg-cover bg-center bg-no-repeat">
    <nav class="flex items-center justify-between px-8 border-b border-white/10">
        <h1 class="font-syne text-[35px] text-white cursor-pointer">
            <span onclick="goToWelcome()" class="text-white">spu</span><span onclick="goToWelcome()"
                class="text-neon-green">rdle</span>
        </h1>
        <div class="flex items-center gap-6 font-semibold text-sm">
            <a href="leaderboard.html" class="text-white transition hover:text-neon-green">Leaderboard</a>
            <a href="#" class="text-white transition hover:text-neon-green">My Account</a>
            <a href="#" class="rounded-full bg-neon-green px-4 py-2 text-black transition hover:scale-105">
                Artist Select
            </a>
        </div>
    </nav>
    <main class="min-h-screen p-4">
        <div class="mx-auto max-w-6xl">
            <section class="mt-6 grid gap-4 md:grid-cols-2">
                <!-- GUESSING SECTION -->
                <div class="bg-card-black rounded-[24px] border border-white/10 guessing-background p-5 ">
                    <section class="mt-1 rounded-[28px] border border-white/10 guessing-background p-6">
                        <div class="flex flex-col ">
                            <div class="w-full">
                                <div class="flex items-center justify-between w-full">
                                    <p class="text-sm uppercase tracking-[0.35em] text-white/80">points remaining</p>
                                    <span id="current-points" class="text-sm font-bold uppercase tracking-[0.35em] text-neon-green/80">100</span>
                                </div>
                            </div>
                    </section>
                    <!-- ARTIST INFO -->
                    <section class="mt-1 rounded-[28px] border border-white/10 guessing-background p-4">
                        <div class="flex items-center justify-between w-full">
                            <p class="text-sm uppercase tracking-[0.35em] text-white/80">
                                Artist:<br>
                                <span id="artist-name" class="text-lg font-bold text-neon-green/80"></span>
                            </p>
                            <img id="artist-image" src="" alt="Artist"
                                class="w-2/5 h-2/5 rounded-xl object-cover shrink-0">
                        </div>
                    </section>
                    <!-- GUESSING -->
                    <section class="mt-1 rounded-[28px] border border-white/10 guessing-background p-4 relative">
                        <div class="flex items-center justify-between w-full">
                            <div class="relative w-full mr-2">
                                <input id="guess-input" type="text" autocomplete="off" placeholder="Guess a song name..."
                                    class="w-full bg-input-gray text-white border border-input-border-gray py-3 px-4 rounded-[28px] placeholder:text-placeholder-gray focus:outline-none focus:ring focus:ring-neon-green focus:ring-opacity-30 focus:border-neon-green">

                                <ul id="suggestions-list" class="absolute z-[99] left-0 right-0 hidden max-h-48 w-full overflow-y-auto rounded-2xl border border-white/10 bg-card-black mt-5 shadow-xl shadow-black/50"></ul>
                            </div>

                            <button id="guess-button"
                                class="shrink-0 bg-neon-green/5 text-neon-green border border-neon-green/20 py-3 px-4 rounded-[28px] hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-20">
                                Guess
                            </button>
                        </div>
                    </section>
                    <!-- GUESS CHECK -->
                    <div id="guess-feedback-container"></div>
                </div>
                <!-- HINT SECTION -->
                <div class="bg-card-black rounded-[24px] border border-white/10 bg-white/5 p-5 ">
                    <!-- HINT HEADER -->
                    <section class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-4 md:p-6">
                        <div class="flex flex-col gap-4 ">
                            <div>
                                <div class="flex items-center justify-between w-full">
                                    <p class="text-sm uppercase tracking-[0.35em] text-neon-green/80">Hint</p>
                                    <span id="hints-revealed"
                                        class="text-sm font-bold uppercase tracking-[0.35em] text-neon-green/80">0 / 5
                                        Revealed</span>
                                </div>
                                <p id="hint-description"
                                    class="mt-4 max-w-2xl text-sm leading-6 text-white/70 md:text-base">
                                    Feeling lost? You can use hints to help you guess the song, but be careful - they
                                    will reduce your points!
                                </p>
                            </div>
                    </section>
                    <!-- HINT 1-->
                    <section id="section-1-hidden" class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6">
                        <div class="flex flex-col gap-4 ">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Release date</p>
                                <div class="rounded-full border border-[#ff4a6e]/50 bg-[#ff4a6e1f] p-2">
                                    <p id="artist-name-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-[#ff4a6e] px-2">Not revealed</p>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- HINT 1 Revealed-->
                    <section id="section-1-hint"
                        class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6 hidden">
                        <div class="flex flex-col gap-4 ">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Release date</p>
                                <div class="rounded-full border border border-neon-green/20 bg-neon-green/5 p-2">
                                    <p id="artist-name-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-neon-green  px-2">revealed</p>
                                </div>
                            </div>
                            <span class="text-xs uppercase tracking-[0.35em] text-neon-green" id="release-date"></span>

                        </div>
                    </section>
                    <!-- HINT 2-->
                    <section id="section-2-hidden" class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6">
                        <div class="flex flex-col gap-4 ">

                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Album cover</p>
                                <div class="rounded-full border border-[#ff4a6e]/50 bg-[#ff4a6e1f] p-2">
                                    <p id="album-cover-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-[#ff4a6e] px-2">Not revealed</p>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!-- HINT 2 Revealed-->
                    <section id="section-2-hint"
                        class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6 hidden">
                        <div class="flex flex-col gap-4">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Album cover</p>
                                <div class="rounded-full border border border-neon-green/20 bg-neon-green/5 p-2">
                                    <p id="artist-name-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-neon-green  px-2">revealed</p>
                                </div>
                            </div>
                            <span class="text-xs uppercase tracking-[0.35em] text-neon-green" id="release-date"></span>
                            <div class="flex items-center justify-center w-full">
                                <img id="album-cover" src="" alt="Album Cover"
                                    class=" w-2/5 h-2/5 rounded-xl object-cover shrink-0">
                            </div>
                        </div>
                    </section>
                    <!-- HINT 3-->
                    <section id="section-3-hidden" class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6">
                        <div class="flex flex-col gap-4 ">

                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Letter reveal</p>
                                <div class="rounded-full border border-[#ff4a6e]/50 bg-[#ff4a6e1f] p-2">
                                    <p id="album-cover-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-[#ff4a6e] px-2">Not revealed</p>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!-- HINT 3 Revealed-->
                    <section id="section-3-hint"
                        class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6 hidden">
                        <div class="flex flex-col gap-4 ">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">letter reveal</p>
                                <div class="rounded-full border border border-neon-green/20 bg-neon-green/5 p-2">
                                    <p id="artist-name-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-neon-green  px-2">revealed</p>
                                </div>
                            </div>
                            <div class="grid grid-cols-6 place-items-center justify-center w-full">
                                <p id="letter-A" class="text-2xl font-bold text-white/80">A</p>
                                <p id="letter-B" class="text-2xl font-bold text-white/80">B</p>
                                <p id="letter-C" class="text-2xl font-bold text-white/80">C</p>
                                <p id="letter-D" class="text-2xl font-bold text-white/80">D</p>
                                <p id="letter-E" class="text-2xl font-bold text-white/80">E</p>
                                <p id="letter-F" class="text-2xl font-bold text-white/80">F</p>
                                <p id="letter-G" class="text-2xl font-bold text-white/80">G</p>
                                <p id="letter-H" class="text-2xl font-bold text-white/80">H</p>
                                <p id="letter-I" class="text-2xl font-bold text-white/80">I</p>
                                <p id="letter-J" class="text-2xl font-bold text-white/80">J</p>
                                <p id="letter-K" class="text-2xl font-bold text-white/80">K</p>
                                <p id="letter-L" class="text-2xl font-bold text-white/80">L</p>
                                <p id="letter-M" class="text-2xl font-bold text-white/80">M</p>
                                <p id="letter-N" class="text-2xl font-bold text-white/80">N</p>
                                <p id="letter-O" class="text-2xl font-bold text-white/80">O</p>
                                <p id="letter-P" class="text-2xl font-bold text-white/80">P</p>
                                <p id="letter-Q" class="text-2xl font-bold text-white/80">Q</p>
                                <p id="letter-R" class="text-2xl font-bold text-white/80">R</p>
                                <p id="letter-S" class="text-2xl font-bold text-white/80">S</p>
                                <p id="letter-T" class="text-2xl font-bold text-white/80">T</p>
                                <p id="letter-U" class="text-2xl font-bold text-white/80">U</p>
                                <p id="letter-V" class="text-2xl font-bold text-white/80">V</p>
                                <p id="letter-W" class="text-2xl font-bold text-white/80">W</p>
                                <p id="letter-X" class="text-2xl font-bold text-white/80">X</p>
                                <p id="letter-Y" class="text-2xl font-bold text-white/80">Y</p>
                                <p id="letter-Z" class="text-2xl font-bold text-white/80">Z</p>

                            </div>
                        </div>
                    </section>
                    <!-- HINT 4-->
                    <section id="section-4-hidden" class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6">
                        <div class="flex flex-col gap-4 ">

                            <div class="flex items-center justify-between  w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Album name</p>
                                <div class="rounded-full border border-[#ff4a6e]/50 bg-[#ff4a6e1f] p-2">
                                    <p id="album-cover-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-[#ff4a6e] px-2">Not revealed</p>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!-- HINT 4 Revealed-->
                    <section id="section-4-hint"
                        class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6 hidden">
                        <div class="flex flex-col gap-4 ">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">Album name</p>
                                <div class="rounded-full border border border-neon-green/20 bg-neon-green/5 p-2">
                                    <p id="artist-name-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-neon-green  px-2">revealed</p>
                                </div>
                            </div>
                            <span class="text-xs uppercase tracking-[0.35em] text-neon-green" id="album-name"></span>

                        </div>
                    </section>
                    <!-- HINT 5-->
                    <section id="section-5-hidden" class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6">
                        <div class="flex flex-col gap-4 ">

                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">song snippet</p>
                                <div class="rounded-full border border-[#ff4a6e]/50 bg-[#ff4a6e1f] p-2">
                                    <p id="album-cover-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-[#ff4a6e] px-2">Not revealed</p>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!-- HINT 5 Revealed-->
                    <section id="section-5-hint"
                        class="mt-1 rounded-[28px] border border-white/10 bg-[#131318] p-6 hidden">
                        <div class="flex flex-col gap-4 ">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-xs uppercase tracking-[0.35em] text-white">song snippet</p>
                                <div class="rounded-full border border border-neon-green/20 bg-neon-green/5 p-2">
                                    <p id="artist-name-revealed"
                                        class="text-xs uppercase tracking-[0.35em] text-neon-green  px-2">revealed</p>
                                </div>
                            </div>
                            <div class="flex items-center justify-center w-full mt-4">
                                <button id="play-snippet-button" onclick="playSnippet()"
                                    class="flex items-center gap-3 bg-neon-green/5 text-neon-green border border-neon-green/20 py-3 px-6 rounded-[28px] hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-200">
                                    <span id="play-label" class="text-xs uppercase tracking-[0.35em]">▶ Play
                                        snippet</span>
                                </button>
                            </div>

                        </div>
                    </section>
                    <section>
                        <button onclick="NextHint()"
                            class="mt-4 w-full bg-neon-green/5 text-neon-green border border-neon-green/20 py-3 px-4 rounded-[28px] hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-20">
                            Reveal Hint
                        </button>
                    </section>
                    <a onclick="showResultsOverlay(false)"
                        class="mt-2 mr-2 text-white/70 float-right hover:underline cursor-pointer">Give up?</a>
                </div>
            
            </section>
        </div>
    </main>
    <!-- RESULTS OVERLAY -->
    <div id="result-overlay"
        class="fixed inset-0 z-50 flex items-center justify-center bg-black/70 backdrop-blur-sm hidden">
        <div class="bg-card-black border border-white/10 rounded-[28px] p-8 max-w-lg w-full mx-4 text-center ">
            <!-- FEEDBACK MESSAGE -->
            <h2 id="overlay-title" class="text-3xl font-bold text-white mb-2"></h2>
            <p id="overlay-subtitle" class="text-white/70 text-sm mt-2 mb-6"></p>

            <!-- ARTIST DETAILS -->
            <section class="mb-3 rounded-[28px] border border-white/10 bg-[#131318] p-4">
                <div class="flex items-center justify-center gap-6 w-full">
                    <p class="text-sm uppercase tracking-[0.35em] text-white/80 text-center">
                        Artist:<br>
                        <span id="artist-name-results" class="text-sm font-bold text-neon-green/80"></span><br><br>
                        Song:<br>
                        <span id="song-name-results" class="text-sm font-bold text-neon-green/80"></span>
                    </p>
                    <img id="artist-image-result" src="" alt="Artist"
                        class="w-2/5 h-2/5 rounded-xl object-cover shrink-0">
                </div>
            </section>
            <!-- POINTS -->
            <section class="mb-3 rounded-[28px] border border-white/10 bg-[#131318] p-4">
                <div class="grid grid-cols-2 w-full text-center">
                    <div>
                        <p class="text-sm uppercase tracking-[0.35em] text-white/80">Your Score:</p>
                        <span id="your-score" class="text-lg font-bold text-neon-green/80"></span>
                    </div>
                    <div>
                        <p class="text-sm uppercase tracking-[0.35em] text-white/80">Total Points:</p>
                        <span id="total-points" class="text-lg font-bold text-neon-green/80"></span>
                    </div>
                </div>
            </section>

            <!-- BUTTONS -->
            <button onclick="" 
                class="bg-white/5 text-white border border-white/20 py-3 px-6 rounded-[28px] hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-200">
                Select Artists
            </button>
            <button onclick="playAgain()"
                class="bg-neon-green/5 text-neon-green border border-neon-green/20 py-3 px-6 rounded-[28px] hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-200">
                Play Again
            </button>
        </div>
    </div>
</body>

</html>