<!doctype html>
<html>
  <head>
        <title>Spurdle</title>

        <link rel="stylesheet" href="style.css">

        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Import custom configuration (fonts and colours)-->
        <script src="../Scripts/tailwind-config.js"></script>
        <script src="../Scripts/script.js"></script>
    </head>

  <body class="bg-[url('https://i.pinimg.com/736x/04/87/40/048740932b7755d6086e54e7c8f31d06.jpg')] backdrop-blur-[100px] bg-cover bg-center bg-no-repeat">
    <div class="min-h-screen flex flex-col items-center">
        <!-- Logo -->
      <h1 class="font-syne text-[35px] text-white mt-[125px] cursor-pointer">
        <span onclick="goToWelcome()" class="text-white">spu</span
        ><span onclick="goToWelcome()" class="text-neon-green">rdle</span>
      </h1>
      
      <!-- Sign up box-->
      <div class="w-full max-w-md bg-card-black border border-10px border-neon-green p-8 rounded-lg mt-10 ">
        <div class="text-center text-white">
          <h2 class="text-2xl font-bold ">Sign Up</h2>
          <h5 class="text-md text-placeholder-gray">Enter your details below to create your account.</h5>
        </div>
        <div class="text-white mt-6 flex flex-col gap-4">
          <div>
            <label class="text-sm tracking-[0.5px]">Username</label><br>
            <input class="
            w-full
            bg-input-gray
            text-white  
            border 
            border-input-border-gray
            focus:outline-none 
            focus:ring
            focus:ring-neon-green
            focus:ring-opacity-30
            focus:neon-green 
            focus:border-neon-green
            py-2
            px-4
            rounded-lg
            placeholder:text-placeholder-gray
            " type="text" placeholder="Username"/>
          </div>
          <div>
            <label class="text-sm tracking-[0.5px]">Email</label><br>
            <input class="
            w-full
            bg-input-gray
            text-white  
            border 
            border-input-border-gray
            focus:outline-none 
            focus:ring
            focus:ring-neon-green
            focus:ring-opacity-30
            focus:neon-green 
            focus:border-neon-green
            py-2
            px-4
            rounded-lg
            placeholder:text-placeholder-gray
            " type="email" placeholder="Email"/>
          </div>
          <div>
            <label class="text-sm tracking-[0.5px]">Password</label><br>
            <input class="
            w-full
            bg-input-gray
            text-white  
            border 
            border-input-border-gray
            focus:outline-none 
            focus:ring
            focus:ring-neon-green
            focus:ring-opacity-30
            focus:neon-green 
            focus:border-neon-green
            py-2
            px-4
            rounded-lg
            placeholder:text-placeholder-gray
            " type="password" placeholder="•••••••••••"/>
          </div>
          <div>
            <label class="text-sm tracking-[0.5px]">Confirm Password</label><br>
              <input class="
              w-full
              bg-input-gray
              text-white  
              border 
              border-input-border-gray
              focus:outline-none 
              focus:ring
              focus:ring-neon-green
              focus:ring-opacity-30
              focus:neon-green 
              focus:border-neon-green
              py-2
              px-4
              rounded-lg
              placeholder:text-placeholder-gray
              " type="password" placeholder="•••••••••••"/>
          </div>
          <div class="text-center">
            <button class="bg-neon-green text-[#121219] font-bold py-2 px-6 rounded hover:scale-105 hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-200">Sign up</button>
          </div>
          <div class="text-center text-white">
          <h5 class="text-sm text-gray-400">Already have an account? <a href="./sign-in.html" class="text-neon-green hover:underline">Log in.</a></h5>
        </div>
        </div>
        </div>
      </div>
  </body>
</html>