<!DOCTYPE html>
<html>
    <head>
        <title>Spurdle</title>

        <script src="https://cdn.tailwindcss.com"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='leaderboard.js') }}"></script>
        <script src="{{ url_for('static', filename='tailwind-config.js') }}"></script>
    </head>

    <body class="bg-[url('https://static.vecteezy.com/system/resources/previews/020/948/545/non_2x/green-and-black-wave-abstract-background-suitable-for-landing-page-and-computer-desktop-background-3d-vector.jpg')] backdrop-blur-[100px] bg-cover bg-center bg-no-repeat">
        <div class="min-h-screen flex flex-col items-center justify-start pt-15 pb-32">
            <h1 class="font-syne text-[125px] text-white text-center mt-[35px]">
                <span class="text-white">spu</span><span class="text-neon-green">rdle</span>
            </h1>
            <p class="font-montserrat font-semibold text-white text-xl">Select your favourite artists, guess their songs. The less hints you use,</p>
            <p class="font-montserrat font-semibold text-white text-xl">the more points you get.</p>

            <!--Buttons, should redirect to either signup / login if user isnt logged in-->
            <div class="flex flex-row gap-5 mt-8">
                    <button class="font-montserrat font-semibold bg-neon-green text-black px-6 py-3 rounded-lg hover:scale-105 hover:shadow-[0_0_10px_#3Dff6e] transition-all duration-200" onclick="goToSignIn()">
                        Start playing
                    </button>
                    <button class="font-montserrat font-semibold bg-white text-background-black px-6 py-3 rounded-lg hover:scale-105 transition-transform duration-200" onclick="goToLeaderboard()">
                        Leaderboard
                    </button>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-12 max-w-4xl">
                    <div class="font-montserrat font-normal bg-card-black text-white p-6 rounded-xl text-left hover:-translate-y-1 border-2 border-input-border-gray transition-transform duration-200">
                        <h3 class="text-l font-syne mb-2">Leaderboard</h3>
                        <p>Compare your total points with your friends and all users.</p>
                    </div>
                    <div class="font-montserrat font-normal bg-card-black text-white p-6 rounded-xl text-left hover:-translate-y-1 border-2 border-input-border-gray transition-transform duration-200">
                        <h3 class="text-l font-syne mb-2">5 Hints</h3>
                        <p>You have 5 total hints to guess the song. The less, the better.</p>
                    </div>
                    <div class="font-montserrat font-normal bg-card-black text-white p-6 rounded-xl text-left hover:-translate-y-1 border-2 border-input-border-gray transition-transform duration-200">
                        <h3 class="text-l font-syne mb-2">Song Previews</h3>
                        <p>Test how well you really know your favourite artists' music with short song snippets as the first hint.</p>
                    </div>
            </div>
    </body>
</html>